@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans.woff) format('woff');
}
@font-face {
	font-style: italic;
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans.Italic.woff) format('woff');
}
@font-face {
	font-weight: bold;
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans.Bold.woff) format('woff');
}
@font-face {
	font-style: italic;
	font-weight: bold;
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans.Bold.Italic.woff) format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.vis-network-tooltip {
  position: absolute;
  visibility: hidden;
  padding: 2px 10px;
  white-space: nowrap;

  font-family: 'Open Sans';
  font-size: 24px;
  color: #4B86C2;
  background: rgba(255, 255, 255, 0.9);

  border-radius: 10px;
  border: 1px solid #4B86C2;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
