/* Title and title slide */
.series {
  font-size: .6em;
  color: #666666 !important;
}
.title.slide h2 {
  line-height: 41pt;
  font-size: 42pt;
  letter-spacing: -1px;
  margin: 171px 0 48px;
}
.module:not(:hover),.series:not(:hover) {
  background-position: 0 2em !important;
}
.tweets {
  float: right;
  font-style: italic;
}
.ugent {
  position: absolute;
  bottom: 41px;
  right: 280px;
  height: 114px;
}
.iminds {
  position: absolute;
  bottom: 76px;
  right: 39px;
  height: 82px;
}
.list > header .links {
  font-size: 20px;
  margin-top: 1em;
  line-height: 1.5;
}
.list > header a:hover, .list > footer a:hover {
  text-decoration: underline;
}

/* License information */
.slide p.license {
  font-size: .3em;
  line-height: 1.5em;
  width: 320px;
  position: absolute;
  bottom: 60px;
}
.slide p.license img {
  display: block;
  height: 42px;
  margin-bottom: 7px;
}
footer p.license img {
  margin: 0 .5em -.15em 0;
}

/* Content table slides */
.toc.slide {
  padding-left: 200px;
  font-style: italic;
}
.toc.slide li {
  font-weight: normal;
}
.toc.slide li.current {
  font-weight: bold;
}
.toc .series {
  line-height: 1;
}
.toc .tweets {
  position: absolute;
  bottom: 1px;
  right: 60px;
}

/* Titles */
h3 {
  color: #4B86C2;
  font-weight: bold;
  margin-bottom: 42px;
}

/* Inline lists */
ul.inline > li, ol.inline > li {
  margin-left: 0;
  display: inline;
}
li li ul.inline, li li ol.inline {
  margin-left: 0;
  display: inline;
}
ul.inline > li:not(:last-child):after {
  content: ',';
}
ol.inline li:before {
  content: '';
}
ol.inline > li:not(:last-child):after {
  content: ' – ';
}

/* Definition lists */
dl {
  margin: 0 0 42px 60px;
}
dt {
  float: left;
  clear: left;
  min-width: 160px;
  font-weight: bold;
  margin: 42px .5em 0 0;
}
dd {
  margin: 42px 0 0 192px;
}
dt:first-of-type, dd:first-of-type, dd + dd {
  margin-top: 0;
}
li dl, li dt {
  font-size: 28px;
  font-weight: normal;
}
li dt {
  display: inline;
  min-width: 0;
  margin: 0;
  font-style: italic;
}
li dt:after {
  content: ": ";
}
li dd {
  margin: 0;
  float: left;
}
li dl dd + dd:before {
  content: ', ';
}
.slide > ul > li, .slide > ol > li {
  clear: left;
}
.slide > ul > li:after, .slide > ol > li:after {
  content: '';
  display: table;
  clear: both;
}

/* Code */
.slide code {
  padding: 0;
}
.slide pre {
  margin-left: 60px;
}
.slide pre.scroll {
  max-height: 420px;
  overflow: scroll;
}
code .comment {
  color: #979A9E;
}
var {
  font-style: italic;
}

.element {
  cursor: pointer;
}
.element:hover {
  color: #4B86C2;
}
.element .element:hover {
  color: #CC4320;
}
.element .element .element:hover {
  color: #979A9E;
}
.element:hover:before {
  content: 'element';
  position: absolute;
  left: 20px;
  font-family: 'Open Sans';
  font-style: italic;
  line-height: 1.6;
}
.element .element:before {
  left: 40px;
}
.element .element .element:before {
  left: 60px;
}
.tag {
  font-weight: bold;
}
.tag:hover:before {
  content: 'tag';
  position: absolute;
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  background: rgba(255,255,255,.8);
  border: 1px solid;
  padding: 2px 4px 6px;
  border-radius: 25%;
  margin: 4px 0 0 14px;
  box-shadow: 2px 2px currentColor;
}

/* Forms */
label:after {
  content: ": ";
}
input {
  font-family: 'Open Sans';
  font-size: 28px;
}
input[type=text] {
  border: 1px solid;
  padding: 0 .5em;
  border: 1px solid #979A9E;
}

/* Opinion symbols */
.opinion:before {
  content: " ";
  display: block;
  position: absolute;
  width: 1.3em;
  margin-left: -1.5em;
  background: url(../images/opinion.svg) no-repeat center center / contain;
}
h2.opinion:before {
  width: 1em;
  margin: .05em 0 0 -1.15em;
}

/* Images */
figure img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
}
figcaption {
  display: block;
  font-size: 10pt;
  line-height: 1.5 !important;
  text-align: right;
}
img.center {
  display: block;
  margin: 0 auto;
}
img.narrow {
  margin-left: 60px;
}
iframe.graph {
  width: 1024px;
  height: 492px;
  margin: -30px -60px;
  overflow: hidden;
}
iframe.query-client, iframe.website {
  width: 100%;
  height: 462px;
}
.dark.slide h2 {
  color: white;
}

/* Labels on images */
.shower .label {
  position: absolute;
  display: block;
  background-color: rgba(255,255,255,.8);
  border-radius: 15px;
  color: black;
  padding: 10px;
}

/* Full-slide quotes */
.slide:not(.full) > blockquote:first-child {
  padding-top: 145px;
}
blockquote.long p {
  margin-bottom: 21px;
}

/* Tight slides */
.slide.tight p {
  margin-bottom: 0px;
}
.slide.tight pre {
  margin-bottom: 38px;
}

/* Full-screen navigation for touch */
.handle::before {
  display: block;
  content: " ";
  position: absolute;
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 10%;
}

/* Tweets */
.twitter-tweet-rendered {
  margin: 3em auto !important;
  transform: scale(1.5);
}

/* Browser window */
.browser {
  background: url(../images/browser.jpg) top center / 100% no-repeat;
  height: 500px;
  border-radius: 12px;
  box-shadow:  5px  5px 10px rgba(0, 0, 0, .4),
              -2px  5px 10px rgba(0, 0, 0, .4);
}
.browser .address-bar {
  position: relative;
  top: 59px;
  left: 116px;
  font-size: 26px;
}
.browser .body {
  position: relative;
  top: 83px;
  height: 400px;
  text-align: center;
}
.browser .body * {
  margin-left: 0;
}

/* CSS examples */
#css-test {
  font-style: italic;
  text-align: center;
  border: 3px solid #4B86C2;
}
#css-test span { border: 3px solid #CC4320; }
#css-test span:last-child { background-color: #979A9E; }

/* Do and dont's */
.do, .dont {
  width: 48%;
  float: left;
}
.dont {
  margin-right: 4%;
}
.do h3, .dont h3 {
  color: #4B86C2;
  margin-bottom: 0;
}
.dont h3 {
  color: #CC4320;
}
.do *, .dont * {
  margin-left:  0 !important;
  padding-left: 0 !important;
}
.do code {
  width: auto !important;
  text-align: left;
}
.do .example, .dont .example {
  min-height: 210px;
}
.do ul li, .dont ul li {
  margin: 0;
  font-weight: normal;
  font-style: italic;
  color: #979A9E;
}

/* Queries */
ol.query > li {
  min-height: 126px;
  margin-bottom: 0;
}
ol.query .count {
  float: right;
  color: #CC4320;
}
ol.query em {
  color: #979A9E;
}
ol.query code {
  letter-spacing: -1px;
  white-space: nowrap;
}
