/* Title and title slide */
.series {
  font-size: .6em;
  color: #666666;
}
.title.slide h2 {
  line-height: 41pt;
  font-size: 42pt;
  margin: 171px 0 48px;
}
.ugent {
  position: absolute;
  bottom: 55px;
  right: 340px;
  height: 111px;
}
.iminds {
  position: absolute;
  bottom: 80px;
  right: 60px;
  height: 76px;
}

.toc.slide {
  padding-left: 200px;
  font-style: italic;
}
.toc.slide li {
  font-weight: normal;
}
.toc.slide li.active {
  font-weight: bold;
}

/* Images */
figure img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
}
figcaption {
  display: block;
  font-size: 10pt;
  text-align: right;
}

.shower .label {
  position: absolute;
  display: block;
  background-color: rgba(255,255,255,.8);
  border-radius: 15px;
  color: black;
  padding: 10px;
}
