/* Title and title slide */
.series {
  font-size: .6em;
  color: #666666 !important;
}
.title.slide h2 {
  line-height: 41pt;
  font-size: 42pt;
  letter-spacing: -1px;
  margin: 171px 0 48px;
}
.module:not(:hover),.series:not(:hover) {
  background-position: 0 2em !important;
}
.ugent {
  position: absolute;
  bottom: 41px;
  right: 340px;
  height: 111px;
}
.iminds {
  position: absolute;
  bottom: 62px;
  right: 60px;
  height: 74px;
}

/* License information */
.slide p.license {
  font-size: .3em;
  line-height: 1.5em;
  width: 320px;
  position: absolute;
  bottom: 60px;
}
.slide p.license img {
  display: block;
  height: 42px;
  margin-bottom: 7px;
}
footer p.license img {
  margin: 0 .5em -.15em 0;
}

/* Content table slides */
.toc.slide {
  padding-left: 200px;
  font-style: italic;
}
.toc.slide li {
  font-weight: normal;
}
.toc.slide li.active {
  font-weight: bold;
}

/* Code */
.slide code {
  padding: 0;
}

/* Inline lists */
ul.inline > li, ol.inline > li {
  margin-left: 0;
  display: inline;
}
li li ul.inline, li li ol.inline {
  margin-left: 0;
  display: inline;
}
.inline > li:not(:last-child):after {
  content: ',';
}

/* definition lists */
dl {
  margin-left: 60px;
}
dt {
  float: left;
  clear: left;
  min-width: 160px;
  margin-right: 1em;
  font-weight: bold;
}
dd {
  margin-bottom: 42px;
}

/* Opinion symbols */
.opinion:before {
  content: " ";
  display: block;
  position: absolute;
  width: 1.3em;
  margin-left: -1.5em;
  background: url(../images/opinion.svg) no-repeat center bottom / 100% 100%;
}
h2.opinion:before {
  width: 1em;
  margin: 0 0 0 -1.15em;
}

/* Images */
figure img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
}
figcaption {
  display: block;
  font-size: 10pt;
  text-align: right;
}
img.center {
  display: block;
  margin: 0 auto;
}
img.narrow {
  margin-left: 60px;
}

/* Labels on images */
.shower .label {
  position: absolute;
  display: block;
  background-color: rgba(255,255,255,.8);
  border-radius: 15px;
  color: black;
  padding: 10px;
}

/* Full-slide quotes */
.slide:not(.full) > blockquote:first-child {
  padding-top: 145px;
}
blockquote.tight p {
  margin-bottom: 21px;
}

/* Tweets */
.twitter-tweet-rendered {
  margin: 3em auto !important;
  transform: scale(1.5);
}
